.search-screen {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
}
.team-screen {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-bottom: 0.5em;
}
#pokèmon-search {
  font-size: 20px;
}
#search-pokémon {
  margin-top: 1em;
  max-width: 15em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #9d9a9a;
  color: white;
}
.show {
  display: flex;
}
#pokèmon {
  margin-top: 3em;
  padding: 0.5em;
  border: double black 6px;
  background-image: url("../bilder/metal-background.jpg");
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7b869f;
  /* justify-content: flex-end; */
  color: white;
  padding-top: 1em;
  width: 255px;
  margin: 0.2em;
  border: double black 6px;
}
.element {
  font-size: 14px;
}
.bild2 {
  width: 40%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.bild {
  width: 120px;
  margin-top: 1em;

  background-image: url("../bilder/sd.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
#pokèmon-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.5em;
  max-width: 550px;
}
.chose-button {
  margin-bottom: 1em;
}
.nick-name-hide {
  display: none;
}

.nick-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding: 2em;
  position: fixed;
  margin-left: 0.8em;
  bottom: 13em;
  width: 11.19em;
  border: double black 6px;
}
.nick-name > input {
  width: 10em;
  margin: 1em;
  color: black;
}

.count-members {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  height: 2em;
  margin-bottom: 1em;
}
.team-mates {
  margin-bottom: 1em;
}
@media screen and (min-width: 590px) {
  #pokèmon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 600px) {
  .nick-name {
    position: fixed;
    width: 20em;
  }
}
