* {
  box-sizing: 0;
  margin: 0;
  font-family: "Silkscreen", sans-serif;
  color: black;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(245, 245, 249);
  height: 10em;
}
body {
  background-color: rgb(245, 245, 249);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 40px;
}
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.hide {
  display: none;
}
h2 {
  margin-top: 7em;
  font-size: 20px;
}
#start-button {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em;
  border-radius: 1em;
  background-color: rgb(241, 41, 41);
  color: white;
}
