* {
  box-sizing: 0;
  margin: 0;
  font-family: "Silkscreen", sans-serif;
  color: black;
}
body {
  background-color: rgb(245, 245, 249);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(245, 245, 249);
  height: 10em;
}
header > div > p {
  font-size: 30px;
}
header > div {
  align-self: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 249);
  max-width: 900px;
  min-width: 500px;
}
h1 {
  font-size: 30px;
}
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.hide {
  display: none;
}
h2 {
  margin-top: 5em;
  font-size: 20px;
}
#start-button {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em;
  border-radius: 1em;
  background-color: rgb(241, 41, 41);
  color: white;
  transition: ease-in-out 0.4s;
}
#start-button:hover {
  background-color: #6b6868;
}

@media screen and (min-width: 590px) {
  header > div > p {
    font-size: 40px;
    padding: 0.3em;
  }
}

@media screen and (min-width: 700px) {
  body {
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgb(199, 77, 77);
  }
  header {
    background-color: rgb(199, 77, 77);
  }
  main {
    max-width: 900px;
    padding: 3em 1em 5em 1em;
    border: solid black 30px;
    border-radius: 1em;
  }
}
