#pokemon-team {
  background-color: #9d9a9a;
  margin: 3em 2em 2em 2em;
  padding: 0.5em;
  border: double black 6px;
}

#reserve-team {
  background-color: #9d9a9a;
  margin: 3em 2em 2em 2em;
  padding: 0.5em;
  border: double black 6px;
}
.team-screen > h2 {
  margin-top: 1em;
}

.team-screen > .btn {
  margin-bottom: 1em;
}
